name: Run Twitter Bot

on:
  schedule:
    - cron: "0 5 * * *"  # Runs daily at 05:00 UTC
  workflow_dispatch:

permissions:
  contents: write

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Install uv
      uses: astral-sh/setup-uv@v7
      with:
        cache-dependency-glob: pyproject.toml
        enable-cache: true
        python-version: "3.11.8"

    - name: Install dependencies
      run: uv sync

    - name: Execute daily_quakes.py
      run: uv run src/daily_quakes.py

    - name: Generate and Tweet Image with bot.py
      env:
        API_KEY: ${{ secrets.API_KEY }}
        API_KEY_SECRET: ${{ secrets.API_KEY_SECRET }}
        ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        ACCESS_TOKEN_SECRET: ${{ secrets.ACCESS_TOKEN_SECRET }}
      run: uv run src/bot.py
    
    - name: Get current date
      id: date
      run: echo "DATE=$(date '+%Y-%m-%d')" >> $GITHUB_ENV

    - name: Commit and Push daily_quakes.py changes
      if: always()
      run: |
        git config --global user.name 'github-actions[bot]'
        git config --global user.email '41898282+github-actions[bot]@users.noreply.github.com'
        git add .
        git commit -m "Update from DailyQuakes.py and bot.py on ${{ env.DATE }}" || true
        git push
